$white: #fff;
$black: #000;

$republic_navy:   #37374B;
$deviant_red:     #871618;
$mellow_green:    #70915C;
$pleasant_blue:   #007E79;
$relaxing_orange: #C66A34;
$republic_red:    #D13F40;
$republic_orange: #E75651;

$base__color: #333;

$body_background_color: #eee;

$link__color: #0073e5;
$link__hover_color: $base__color;
$primaryNav__background_color: $white;
$primaryNav__link_color: $base__color;
